# some black magic behind..
lombok.sneakyThrows.flagUsage=ERROR

# "try(..)" is short and a better alternative
lombok.cleanup.flagUsage=ERROR

# seems no experimental annotations have real value except for "@Accessors" which simplifies creating builders
lombok.delegate.flagUsage=ERROR
lombok.extensionMethod.flagUsage=ERROR
lombok.fieldDefaults.flagUsage=ERROR
lombok.helper.flagUsage=ERROR
lombok.utilityClass.flagUsage=ERROR
lombok.wither.flagUsage=ERROR

# the intellij lombok plugin does not currently work with SuperBuilder (https://github.com/mplushnikov/lombok-intellij-plugin/issues/513)
lombok.superBuilder.flagUsage=ERROR

# synchronization code is definitely not boilerplate
lombok.synchronized.flagUsage=ERROR

# we allow both fields with prefix and without for getters/setters/builders
lombok.accessors.prefix += _
lombok.accessors.prefix +=

# required due to breaking change in v1.16.20 (https://github.com/FasterXML/jackson-databind/issues/1516)
lombok.anyConstructor.addConstructorProperties = true

lombok.copyableAnnotations += org.bson.codecs.pojo.annotations.BsonProperty, org.bson.codecs.pojo.annotations.BsonId, org.bson.codecs.pojo.annotations.BsonIgnore
